---
layout: list
---
<header><h1>All Posts</h1></header>
<div class="archive">
{% for post in site.posts %}
  {% assign category = post.categories[0] %}
  <ul>
    <li class="date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></li>
    <li class="title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    <li class="category"><a href="{{ 'category' | relative_url }}/{{ category }}" class="categorycolor{{ category | indexOf: site.category_names }}">{{ category }}</a></li>
  </ul>
{% endfor %}
</div>
